# Requirements to lya2pcf
# Due to mpi4py, you need a Python version <=3.11

python==3.11
conda-forge::numpy
anaconda::matplotlib
anaconda::scipy
conda-forge::astropy
conda-forge::numba
conda-forge::healpy
anaconda::mpi4py
conda-forge::pycuda
conda-forge::fitsio
